:root{
    --main:#0d3041;
}

.top-btn{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  background-color: var(--main);
  color: white;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 4px;
  text-decoration: none;
}

.top-btn:hover{
    background-color:white;
    color: var(--main);
}

.videoRes{
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
}

.videoRes iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 90%;
}

@media only screen and (max-width: 700px){
    .videoRes iframe{
        width: 100%;
        height: 100%;
    }
    .accordion{
        padding: 2rem;
    }
}
